/* hero section */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6.5rem;
}

.hero__titleContainer {
  padding: 2.75rem 7.5rem 0 0;
}

.hero__title {
  margin-bottom: 0.688rem;
}

.hero__subtitle {
  font-weight: var(--body-highlight-font-weight);
  margin: 0 0 2rem 0;
}

.hero__icon {
  width: 19rem;
  height: 19rem;
}

.hero__red-highlight {
  color: var(--red-highlight);
  font-family: var(--body-highlight-font);
  font-weight: var(--body-highlight-font-weight);
  font-size: var(--body-highlight-font-size);
  font-style: normal;
  line-height: var(--body-highlight-line-height);
}

/* address section */
.adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 4.5rem;
}

.adress__title {
  margin-bottom: 2.25rem;
}

.adress__carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7.125rem;
}

.adress__img {
  width: 19rem;
  height: 13.5rem;
	object-fit: cover;
}

.adress__info {
	margin: 0.5rem 0 0 0 ;
}

/* about section */
.about {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 2.25rem;
}

.about__title {
margin-bottom: 1rem;
}

.about__text {
margin: 0 0 0 0;
width: 85%;
}

/* social media content */
.socialMedia {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialMedia__title {
	margin: 0 0 2.25rem 0;
}

.socialMedia__carousel {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4.375rem;
}
